<head>
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
</head>
<div class="box">
	<div class="welcome-wrapper">
		<div class="splash-hello"> Hello  </div>
				<div class="welcome-message"> Just glorifying your todo list.</div>
		<div class="login-form ">
			<form action="/session" method="post">
			  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			  <label>
			    <input name="user[email]" class="custom-login email-input" value="Username" type="text"><br>
			  </label><br>
			  <label>
			    <input name="user[password]" class="custom-login password-input" value="Password" type="password"><br>
			  </label><br>
			  <input type="submit" value="Submit" class="btn btn-primary custom-login"><br>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.email-input').on('click', function(){
			$('.email-input').val("");
		});

		$('.password-input').on('click', function(){
			$('.password-input').val("");
		});
	});

$(".box").bgswitcher({
  images: ["http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-005.jpg", "http://stylonica.com/wp-content/uploads/2014/03/Cute-Cats-cats-33440930-1280-800.jpg", "http://www.malindalo.com/wp-content/uploads/2013/02/space-the-sky-the-galaxy-stars-Favim.com-481975.jpg"], 
  effect: "fade", // fade, blind, clip, slide, drop, hide
  interval: 5000, // Interval of switching
  loop: true, // Loop the switching
  shuffle: false, // Shuffle the order of an images
  duration: 5000, // Effect duration
  easing: "swing" // Effect easing
});
</script>
