<div class="card-pane list-group-item ">
	 <%= card.escape("title") %>
	 <button class="delete-card" > <span data-id="<%= card.id %>" class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</div>

