<div id="show-main">
	<div class="container">
			<button class="btn btn-primary funbtn"> 
				<%= board.get("title") %>
				</button>
				<span class="glyphicon glyphicon-star-empty star"></span>
			</span>
			<button class="board-delete-button btn btn-primary navbar-btn custom-button" data-id="<%= board.id%>">Delete Board </button>
		<div class="board-lists">
		
		</div>
	</div>
</div>

