<div id="show-main">
	<div class="container">
			<button class="btn btn-primary funbtn">
				<%= board.get("title") %>
				</button>
			</span>
		<div class="board-lists">
		
		</div>
	</div>
</div>

