<div class="box">
	  <%= render partial: "layouts/errors" %>
	<div class="welcome-wrapper">
		<div class="splash-sign-up"> Sign Up!</div>
			<div class="welcome-message"> Meow, Meow Meow.</div>
		<form class="signup-form login-form" action="/users" method="post">
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		  <label>
		    <input name="user[email]" type="text" class="custom-login email-input"><br>
		  </label><br>
		  <label>
		    <input name="user[password]" type="password" class="custom-login password-input"><br>
		  </label><br>
		  <input type="submit" value="Submit" class="btn btn-primary custom-login"><br>
		</form>
	</div>
</div>

<%= render partial: "layouts/bg" %>