a {
	text-decoration:none;
	color:white;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

a:hover{
	text-decoration:none;
	color:white;
}
.myboards{
	font-weight:bold;
	font-size:1.1em;
	margin-left:-20px;
}

.list-show{
	width:23%;
	float:left;
	margin-right:10px;
	font-size: 1em;
	background-color:#e3e3e3;
	border-radius:3px;
	padding:6px;
	margin-top:5px;
	min-width:150px;
}
.new-list{
	width:23%;
	float:left;
	margin-right:10px;
	font-size: 1em;
	background-color:#0c669a;
	color:white;
	border-radius:3px;
	padding:6px;
	margin-top:5px;
	min-width:150px;
}
.new-list:hover{
	background-color: #0a517b;
}

.list-title{
	color: #4d4d4d;
	font-weight: bold;
	font-size:1.1em;
	padding-top:1px;
	display: inline-block;
}

.board-idx-item{
	float:left;
	height:105px;
	width: 30%;
	margin:10px;
	color:white;
	background-color:#0b6294 !important;
}

.board-idx-item:hover{
	background-color:#0a5783 !important;
}

.board-container{
	width:87%;
	margin: 0 auto;
	margin-top:40px;
	position:relative;
}

.new-board{
	background-color: #dbdbdb !important;
	float:left;
	height:105px;
	width: 30%;
	margin:10px;
	line-height: 80px !important;
	text-align:center;
	font-weight:normal !important;
	color: #8c8c8c !important;
}
.new-board:hover{
	background-color: #cccccc !important;
}
.list-cards {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-bottom: 0;
	overflow-y: auto;
	overflow-x: hidden; 
	z-index: 1;
}

.card-pane{
	margin-top:4px;
	padding-top:10px;
}
.card-pane:hover{
	background-color:#f0f0f0;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}  

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.board-title{
	padding:3px;
	font-weight:bold;
	font-size:1.3em;
	color:white;

}
.logo{
	opacity: 0.5;
	margin-top:7px;
	margin-left:50%;
}

.navbar-header{
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.logo:hover{
	opacity: 0.8;
}


.customnav{
	background-color: #0c6599 !important;
	border:none !important;

}
.star{
	color:white;
	top:-1px;
	position:relative;
}

.funbtn{
	background-color: #0e74af !important;
	border:none;
	color:white;
	font-weight:bold;
	font-size:1.1em;
	margin-top:-10px;
}
.funbtn:hover{
	background-color: #0c6599 !important;
}
.board-link{
	text-decoration:none;
	color:white;
}

.human-icon{
	color:#a6a6a6;
}

.add-card{
	color:#8c8c8c;
	font-size:0.8em;
	margin-top:10px;
}

.custom-button{
	background-color: #539cc6 !important;
	margin: 3px !important;
	padding: 5px !important;
	font-weight: bold !important;
}
.custom-button:hover{
	background-color: #6aa0be !important;
}

.modal-title{
	text-align: center !important;
}

.modal-backdrop{
  opacity: 0.3 !important;
  -webkit-transition: opacity 1s linear !important;
  transition: opacity 1s linear !important;
}

.board-delete-button{
	float:right;
	margin-top: -10px !important;
	margin-bottom: -9px !important;
}

.navbar{
	min-height:30px !important;
  height: 38px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.logo{
		margin-left:140px;
	}
}