a {
	text-decoration:none;
	color:white;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative
}
body{
    height:100% ;
    min-width: 880px;
}

a:hover{
	text-decoration:none;
	color:white;
}
.myboards{
	font-weight:bold;
	font-size:1.1em;
	margin-left:-20px;
}

.container{
	width: 100% !important;
}
.list-show{
	width:23%;
	float:left;
	margin-right:10px;
	font-size: 1em;
	background-color:#e3e3e3;
	border-radius:3px;
	padding:6px;
	margin-top:5px;
	min-width:200px;
}

.new-list{
	width:23%;
	position:relative;
	top:-4px;
	display: inline-block;
	margin-right:10px;
	font-size: 1em;
	background-color:#0c669a;
	color:white;
	border-radius:3px;
	padding:6px;
	margin-top:5px;
	min-width:150px;
}
.new-list:hover{
	background-color: #0a517b;
}

.list-title{
	color: #4d4d4d;
	font-weight: bold;
	font-size:1.1em;
	padding-top:1px;
	display: inline-block;
}

.board-idx-item{
	float:left;
	height:105px;
	width: 30%;
	margin:10px;
	color:white;
	min-width:200px;
	background-color:#0b6294 !important;
}

.board-idx-item:hover{
	background-color:#0a5783 !important;
}

.board-container{
	width:87%;
	margin: 0 auto;
	margin-top:40px;
	position:relative;
}

.new-board{
	background-color: #dbdbdb !important;
	float:left;
	height:105px;
	min-width:200px;
	width: 30%;
	margin:10px;
	line-height: 80px !important;
	text-align:center;
	font-weight:normal !important;
	color: #8c8c8c !important;
}
.new-board:hover{
	background-color: #cccccc !important;
}

.list-cards {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-bottom: 0;
	overflow-y: auto;
	min-height:20px;
	overflow-x: hidden; 
	z-index: 1;
}

.card-pane{
	margin-top:4px;
	min-height:40px;
	padding-top:10px;
	border: 0;
}
.card-pane:hover{
	background-color:#f0f0f0;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}  

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.board-title{
	padding:3px;
	font-weight:bold;
	font-size:1.3em;
	color:white;
}

.center-logo{
	position:fixed;
	left:50%;
	transform: translateX(-50%);
}

.logo{
	opacity: 0.5;
	margin-top:7px;
}

.navbar-header{
	width: 100%;
	margin: 0 auto !important;
	position: relative;

}

.logo:hover{
	opacity: 0.8;
}


.customnav{
	background-color: #0c6599 !important;
	border:none !important;

}
.star{
	color:white;
	top:-1px;
	margin-right:14px;
	position:relative;
}

.sign-in-text a{
	color:white !important;
	font-size: 0.9em;
	margin-top:-5px;
}

.funbtn{
	background-color: #0e74af !important;
	border:none;
	color:white;
	font-weight:bold;
	font-size:1.1em;
	margin-top:-10px;
	margin-left:-13px;
}
.funbtn:hover{
	background-color: #0c6599 !important;
}
.board-link{
	text-decoration:none;
	color:white;
}

.human-icon{
	color:#a6a6a6;
}

.add-card{
	color:#8c8c8c;
	font-size:0.8em;
	margin-top:10px;
}

.custom-button{
	background-color: #539cc6 !important;
	margin: 3px !important;
	padding: 5px !important;
	font-weight: bold !important;
}
.custom-button:hover{
	background-color: #6aa0be !important;
}

.modal-title{
	text-align: center !important;
}

.modal-backdrop{
  opacity: 0.3 !important;
  -webkit-transition: opacity 1s linear !important;
  transition: opacity 1s linear !important;
}

.board-delete-button{
	background-color: #0e74af !important;
	border:none;
	color:white;
	float:right;
	font-weight:bold;
	font-size:1.1em;
	position:relative;
	top:-1px;
	left:-12px;
}

.board-delete-button:hover{
	background-color: #0c6599 !important;
}
.navbar{
	min-height:30px !important;
  height: 38px !important;
  margin-bottom: 0 !important;
}

.delete-list{
	padding:0px;
	padding-top:none;
	padding-bottom:none;
	height:20px;
	width:20px;
	position:inline-block;
	border:none;
	float:right;
	color: #a6a6a6;
	background-color:#e3e3e3;
}

.login-form{
	position:relative;
	top:100px;
	width:200px;
	margin:0 auto;
}

.custom-login{
	width:200px;
	height:40px;
	font-weight:normal;
	font-family: Helvetica Neue;
	font-size:1.1em;
}

.welcome-wrapper {
	position:relative;
}
.email-input, .password-input{
	color:#6a6a6a;
}

#show-main{
	margin-top:13px;
}

.splash-hello{
	position:relative;
	top:110px;
	font-size:5em;
	text-align:center;
	text-shadow:1px 1px 4px rgba(0,0,0,1);
	color:white;
	font-family:'Oleo Script Swash Caps', cursive;
}
.splash-sign-up{
	position:relative;
	top:110px;
	font-family:'Oleo Script Swash Caps', cursive;
	font-size:4em;
	text-align:center;
	color:white;
	text-shadow:1px 1px 4px rgba(0,0,0,1);
	margin-bottom:13px;
}

.welcome-message{
	text-align: center;
	color:white;
	position:relative;
	top:85px;
	text-shadow:1px 1px 4px rgba(0,0,0,1);
	font-family:"Helvetica Neue";
}
.box{
	height:100vh;
}

.new-card-title{
	margin-top:4px;
	width:99.5%;
	border-radius:2px;
	margin-bottom: 2px;
	max-height: 162px;
	min-height: 54px;
	border: 0;
}

.new-card-btn{
	padding:5px !important;
}

.add-card-close-btn{
	position:relative;
	top:2px;
	padding:0px;
	margin:5px;
	border: 0;
	color: #a6a6a6;
	background-color:#e3e3e3;
}

.delete-card{
	position:relative;
	display:inline;
	left:-11px;
	float:left;
	color: #e3e3e3;
	border: 0;
	background-color : transparent;
}

.hacky-fix {
	position:relative;
	display: inline-block;
	vertical-align: top;
}

.card-modal-backdrop {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1031;
}

.card-modal {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 1032;
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  padding: 15px;
}

.card-modal-dismiss {
  float: right;
  font-size: 130%;
  &:hover {
    text-decoration: none;
  }
}
