a {
	text-decoration:none;
	color:white;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}


a:hover{
	text-decoration:none;
	color:white;
}
.myboards{
	font-weight:bold;
	font-size:1.1em;
	margin-left:50px;
}
.list-show{
	width:22%;
	float:left;
	margin:10px;
	font-size: 1em;
	background-color:#e3e3e3;
	border-radius:3px;
	padding:6px;
}

.list-title{
	color: #4d4d4d;
	font-weight: bold;
}

.board-idx-item{
	float:left;
	height:105px;
	width:200px;
	border-radius: 25px;
	margin:10px;
	color:white;
	background-color:#0b6294 !important;
}

.board-idx-item:hover{
	background-color:#0a5783 !important;

}

.list-cards {
-moz-box-flex: 1;
-webkit-box-flex: 1;
-ms-flex: 1 1 auto;
-webkit-flex: 1 1 auto;
flex: 1 1 auto;
margin-bottom: 0;
overflow-y: auto;
overflow-x: hidden;
z-index: 1;
}

.card-pane{
	margin-top:4px;
}
.card-pane:hover{
	background-color:#f0f0f0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.board-link{
	text-decoration:none;
	color:white;
}

.human-icon{
	color:#a6a6a6;
}

.add-card{
	color:#8c8c8c;
	font-size:0.8em;
	margin-top:10px;
}