<div class="list-show list-group">
		 <span class="list-title "><%= list.escape("title") %></span> 
		 <button data-id="<%= list.id %>" class="delete-list">x</button>
	<div class="list-cards">
	</div>
	<div class="add-card">Add a card... </div>
</div>


