<div data-id="<%= list.id %>" class="list-show list-group">
		 <span class="list-title "><%= list.escape("title") %></span> 
		 <button class="delete-list"> <span data-id="<%= list.id %>" class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	<div class="list-cards">
	</div>
	<div data-id="<%= list.id %>" class="add-card">Add a card... </div>
</div>

