<nav class="navbar navbar-default customnav" role="navigation">
    <a class='center-logo' href="#"><img class="logo" src="//imageshack.com/a/img903/2138/76SvlY.png"></a>

  <div class="pull-left">
    <ul class="sign-out-btn">
    <% if signed_in? %>
      <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn custom-button" %></li>
    <% else %>
      <li class="sign-in-text"><%= link_to "Log in", new_session_url %></li>
      <li class="sign-in-text"><%= link_to "Sign up", new_user_url %></li>
    <% end %>
    </ul>
  </div>
</nav>

